$secondary-gradient:linear-gradient(45deg, hsl(255, 100%, 25%), hsl(270, 100%, 25%));
$main-gradient:linear-gradient(135deg, hsl(255, 100%, 15%) 10%, hsl(270, 100%, 15%));
$shadow-color:rgba(22,22,22,0.7);
$text-color:#fff;