* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: #fff;
}
main{
    min-height: 100vh;
}
a{
    color: hsl(160 94% 58%);
}
a:hover{
    color: hsl(var(--hue-alt) 47% 73%);
}
#courseIMG{
    min-height: 300px;
    min-width: 350px;
    max-height: 350px;
}
#headerLogo{
    max-width: 300px;
}