.item img{
    width:400px;
    height:400px;
}

.item{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.item *{
    cursor: pointer;
}
.container{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1rem;
}