@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
html *{
    margin:0px;
    font-family: 'Caveat', cursive;
}
body{
    text-shadow: 3px 0 0 #000000;
}
header{
    color: #FFFFFF;  
    background-color: #cccccc;  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
main{
    padding-top: 2em;
    height: 90vh;
    text-indent: 5em;
    text-align: justify;
    position: relative;
    box-sizing: border-box;
}
main p{
    color: #FFFFFF;
    font-weight: bold;  
    font-size: 30px;
    margin-left: auto;
    margin-right: 3em;
    width: 35%;
}
img{
    object-fit: fill;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
#quote{
    margin-top: 0;
    font-style: italic;
    font-size: 24px;
    text-align: right;
}