$secondary-gradient:linear-gradient(45deg, hsla(255, 100%, 25%, 1), hsla(270, 100%, 25%, 1));
$main-gradient:linear-gradient(135deg, rgb(19, 0, 77) 10%, hsla(270, 100%, 25%, 1));
$shadow-color:rgba(22,22,22,0.7);
$text-color:#fff;